<app-built-in-validator></app-built-in-validator>
<h1>{{title}}</h1>
<app-simple-form></app-simple-form>
<app-group-form-control></app-group-form-control>
<!-- Favorite color:<input type="text" [formControl]="favoriteColorControl"> -->
<!-- Favorite Color: <input type="text" [(ngModel)]="favoriteColor"> -->
    <!-- <input type="text" [(ngModel)]="str"> -->
    <p>The reverse of {{str}} is {{ str | reverse}}</p>
    <p>{{a | percent}}</p>
    <p>2 inches are {{2|inchToCm}}</p>
    <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <br>
    <a routerLink="/products">Products</a>
</nav>   
<router-outlet></router-outlet>
<app-comments></app-comments>